body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #404259;
}

header {
    background-color: #404259;
    margin-bottom: 50px;
}

#header-container {
    display: flex;
    height: 200px;
    padding-top: 10px;
    justify-content: center;
}

img {
    position: relative;
    top: 20px;
    height: 220px;
    border: 5px solid #63657b;
    border-radius: 50%;
}

#header-infos {
    display: flex;
    flex-direction: column;
    align-items: end;
    height: 100px;
    color: #fdfbfa;
}

#header-infos h1 {
    color: #fdfbfa;
    font-family: 'League Spartan', sans-serif;
}

#header-infos a {
    color: #fdfbfa;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 14px;
    letter-spacing: 1px;
    word-spacing: 1px;
}

#links {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 20px;
    align-items: end;
}

#links a {
    margin-bottom: 2px;
    line-height: 22px;
}

main {
    margin: 0 100px;
    background-color: #fdfbfa;
    align-items: center;
}

#sobre-mim {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sobre-mim h3 {
    font-family: 'League Spartan', sans-serif;
    color: #63657b;
    font-size: 26px;
}

#sobre-mim p {
    font-family: 'Montserrat', sans-serif;
    color: #404259;
    font-weight: 500;
}

#colunas-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

#experiencia-profissional {
    padding-right: 60px;
    grid-row: span 2;
}

#experiencia-profissional h3 {
    font-family: 'League Spartan', sans-serif;
    color: #63657b;
    font-size: 26px;
}

#experiencia-profissional p {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #404259;
}

#experiencia-profissional #xp {
    margin-bottom: 50px;
}

#experiencia-profissional #xp p:nth-child(1) {
    font-weight: bolder;
}

#formacao-academica {
    grid-column: 2;
}

#formacao-academica #curso {
    margin-bottom: 20px;
}

#formacao-academica h3 {
    font-family: 'League Spartan', sans-serif;
    color: #63657b;
    font-size: 26px;
}

#formacao-academica p {
    margin-top: 0;
}

#tecnologias {
    position: relative;
    bottom: 10px;
    grid-column: 2;
}

#tecnologias ul {
    padding-left: 20px;
}

#tecnologias h3 {
    font-family: 'League Spartan', sans-serif;
    color: #63657b;
    font-size: 26px;
    margin: 0;
}
